<div>
  <div class="card-container">
    <div *ngFor="let item of items$ | async">
      <app-card
        [title]="item.title"
        [description]="item.description"
        [startDay]="item.startDay"
        [createdDate]="item.createdDate"
        [location]="item.location"
        [imageUrl]="item.imageUrl"
        (edit)="openCardDetail(item)"
        (delete)="confirmDelete(item)"
      ></app-card>
    </div>
  </div>

  <button type="button" class="add-item-button" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>
