<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">DAILIYOU</h1>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <ng-container *ngIf="isLoggedIn; else anonymousIcon">
        <img [src]="userPhotoUrl" alt="User Avatar" class="user-avatar" />
      </ng-container>
      <ng-template #anonymousIcon>
        <mat-icon>account_circle</mat-icon>
      </ng-template>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="!isLoggedIn">
        <button mat-menu-item (click)="login()">Login</button>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <div class="user-info">
          <div class="user-name">{{ userName }}</div>
          <div class="logout-button">
            <button mat-menu-item (click)="logout()">Logout</button>
          </div>
        </div>
      </ng-container>
    </mat-menu>
    <!-- </mat-toolbar> -->
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 70 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (nav of fillerNav; track nav) {
        <a
          mat-list-item
          [routerLink]="nav.route"
          (click)="closeSidenav(snav)"
          >{{ nav.name }}</a
        >
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
