<h1 mat-dialog-title>{{ data.id ? 'Edit Card' : 'Create Card' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image url</mat-label>
      <input matInput formControlName="imageUrl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Day</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="startDay" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Created Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="createdDate" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>
